<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Projects</h1>
		</div>
	</div>

	<div class="sk-spinner sk-spinner-circle" ng-if="!projects.length">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

	<table class = "table table-striped table-hover" style = "margin-top: 20px" ng-show="projects.length">
		<thead>
			<tr>
				<td><b>Project</b></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects">
				<td>{{project.name}}</td>

				<td><button class = "btn btn-default" ng-click="goToProject(projects, project)">Open</button></td>
				<td><button class = "btn btn-danger" ng-click="projects.$remove(project)">Delete</button></td>

			</tr>
		</tbody>
	</table>

	<div class="row" ng-show="projects.length">
		<div class="col-xs-12 col-md-6">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="New Project Name" ng-model="newProject">
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" ng-click="addProject(newProject)">New Project</button>
				</span>
			</div>
		</div>
	</div>
</div>
