<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Learnings</h1>
			<div ng-repeat="learning in learnings  | orderBy:'-capturedData.dateLastEdited'" ng-show="learning.capturedData.observer">
				<h1>User: {{learning.capturedData.name}} <small ng-click="goToUser(learning.capturedData.description)">edit</small></h1>
				<h2>Observer: {{learning.capturedData.observer}}</h2>
				<p ng-show="learning.capturedData.rating">Rating: {{learning.capturedData.rating}}</p>

				<ul>
					<li class="media" ng-repeat="feedback in learning.capturedData.feedback">						
						{{feedback.feedback}}
						<div><img ng-show="feedback.photo" class="media-object" src="{{feedback.photo}}"></div>
						

					</li>	
				</ul>
			</div>
		</div>
	</div>
</div>
