<div class="container">
	<div class="row">
		<button class="btn btn-primary" ng-click="toLearnings()">Learnings</button>
		<button class="btn btn-primary" ng-click="toEditSurvey()">Edit Survey</button>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1>Project {{projectName}}</h1>
			<h2>Create new user</h2>
			<div class="form-group">
		        <label>Observer's Name</label>
		        <input type="text" class="form-control" id="" placeholder="Your Name" ng-model="observerName">
		      </div>
			<div class="form-group">
		        <label for="exampleInputEmail1">User's Description</label>
		        <input type="text" class="form-control" id="" placeholder="User's Name" ng-model="userName">
		      </div>
			<div class="btn btn-primary" ng-click="newUser()">Create</div>
		</div>
	</div>
</div>
